// Colors

$white: #fff;
$black: #000;

$cyan: hsl(179, 62%, 43%);
$yellow: hsl(71, 73%, 54%);

// Neutral

$gray: hsl(204, 43%, 93%);
$grayBlue: hsl(218, 22%, 67%);

// Media Breakpoints

$break-m: 768px;
$break-l: 1024px;

$max-width: 1200px;
